html, body {
	overflow: hidden;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	height: 100vh;

	background-color: $backgroundColor;

	// font-family: 'Vollkorn', serif;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	line-height: 1.5;

	::selection {
		background-color: none;
	}
}

.nav {
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	line-height: 21px;
	letter-spacing: .05em;
}


.row {
	width: grid-columns(12);
	margin-left: auto;
	margin-right: auto;
	overflow: auto;

	> * {
		float: left;
		&:last-child {
			margin-right: 0 !important;
		}
	}
	&:after {
		clear: left;
		content: "";
		display: table;
	}
}

h1 {
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 0.05em;
	margin-top: $gmb;
	margin-bottom: $gmb;
}
p {
	margin-bottom: $gmb;

	&.note {
		font-size: 12px;
		&:before {
			//content: "* ";
		}
	}

	span.note {
		//color: $malina;
	}
}
button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	background: none;
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
	&:hover {
		color: $malina;
		cursor: pointer;
	}
}
a {
	text-decoration: none;
	color: $malina;
	&:hover {
		border-bottom: 1px solid $malina;
	}
}

em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
ul {
	list-style: none;
	margin-bottom: $gmb;
}

.text-column {
	display: none;
	width: grid-columns(5);
	margin-top: $gmb;
	margin-right: auto;
	margin-bottom: $gmb;
	margin-left: auto;
	text-align: center;
	//cursor: text;
	/*
	::selection {
		background-color: $malina;
		color: white;
	}
	*/
}

///// Prealoader /////
.preloader {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: white url($css-images-path + 'loader.gif') no-repeat center;
	background-size: 50px 50px;
	z-index: 1100;

	progress {
		position: absolute;
		top: 0;
		width: 100%;
		height: 1px;
		appearance: none;
		&::-webkit-progress-bar {
			background-color: transparent;
		}
		&::-webkit-progress-value {
			background-color: grey;
		}
	}
}

.title {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	h1.prolog {
		width: grid-columns(6);
		margin-left: auto;
		margin-right: auto !important;
		float: none;
		text-align: center;
	}
}

.app {

	margin-top: 24px;
	margin-bottom: 48px;

	.counter {
		p {
			// width: grid-columns(6);
			margin-right: $gutter;
			text-align: center;
		}
	}

	.prolog {
		p {
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 0.05em;
			width: 100%;
			text-align: center;
		}
	}
	.gallery {
		margin-bottom: 12px;
		.swiper-container {
			width: 479px;//grid-columns(6);
			margin-left: auto;
			margin-right: auto !important;
			margin-bottom: $gutter;
			float: none;
			overflow: hidden;
			position: relative;

			&.forward {

			}

			.button {
				position: absolute;
				top: 0;
				width: 50%;
				height: 100%;
				z-index: 10;

				&.rew {
					cursor: url(../images/arrow-left.svg), pointer;
				}

				&.ff {
					left: 50%;
					cursor: url(../images/arrow-right.svg), pointer;
				}
			}

			.swiper-slide {

				width: 480px;
				height: 560px;

				&.first-slide {
					text-align: center;
					display: flex;
					justify-content: center;
					flex-direction: column;

					&.backward {
						h1 {
							transform: scaleX(-1);
						}
					}
				}
			}

			img {
				width: 100%;
				vertical-align: bottom;
				// position: absolute;
				// top: 0;
				background-color: white;
			}
		}
	}
	nav {
		button {
			width: grid-columns(6);
			height: 21px;
			margin-right: $gutter;
		}
	}
	.description {
		font-family: 'Roboto', sans-serif;
		font-size: 10px;
		line-height: 1.5;
		width: grid-columns(6);
		margin-right: auto;
		margin-left: auto;
	}
}

// INFO //
section.info {
	font-family: 'Roboto', sans-serif;
	position: fixed;
	bottom: 0;
	box-sizing: border-box;
	overflow: hidden;
	width: 100%;
	height: 2.5rem;
	background-color: $backgroundColor;
	z-index: 1000;


	.row > * {
		float: none;
		margin-left: auto;
		margin-right: auto !important;
		width: grid-columns(6);
	}

	.trigger {
		button {
			display: block;
			position: fixed;
			color: $malina;
			font-weight: bold;
			background-color: $backgroundColor;
			line-height: 2.5rem;

			&:hover {
				color: black;
			}

			&.contact {
				bottom: 0;
				right: 0;
				width: 100vw;
			}
			&.projects {
				position: fixed;
				top: 100vh;
				left: 0;
				width: 100vh;
				transform: rotate(270deg);
				transform-origin: top left;
			}
			&.about {
				position: fixed;
				top: 100vh;
				right: 0;
				width: 100vh;
				transform: rotate(90deg);
				transform-origin: top right;
			}
		}
	}

	.layout {
		padding-bottom: 50px;
		margin-bottom: 100px;
		height: calc(90vh - 160px);

		// transition: transform .5s ease-out;
		transition: opacity 1s ease-out;

		h1 {
			text-align: center;
			text-transform: none;
			font-weight: bold;
			color: $malina;
			background-color: $backgroundColor;
			padding-bottom: $gmb;
			margin-top: 0;
			margin-bottom: $gmb * 1;
			position: sticky;
			top: 0;
		}
		> * {
			width: grid-columns(4);
		}

		h2 {
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 0.05rem;
			margin-top: 2 * $gmb;
		}

		// Description list
		dl {
			margin-bottom: $gmb;
		  dt {

		  }
		  dd {
		    margin-left: (grid-columns(1) / 2) + $gutter;

				&.comment {
					font-style: italic;
				}

				&.paragraph::before {
					content: " ";
					display: block;
					margin-bottom: 1em;
				}
		  }
		}

		&.hidden {
			display: none;
			visibility: hidden;

			opacity: 0;
		}

		//SIDENAV
		nav.sidenav {
			width: grid-columns(2);
			float: right;
			position: sticky;
			top: 81px;
		}

		// SCROLLBAR
		scrollbar-width: 5px;
		scrollbar-color: #c7c7c7 #f1f1f1;
		&::-webkit-scrollbar {
			background-color: #f1f1f1;
			width: 5px;
		}
		&::-webkit-scrollbar-thumb {
		  background-color: #c7c7c7;
		}

		// 	CLOSE BUTTON
		button.closeBtn {
			width: 50px;
			float: right;
			position: sticky;
			top: 0;
		}

		article {
			section {
				margin-bottom: $gmb * 2;
			}
		}
	}
	.about {
		figure {
			margin-bottom: 2*$gmb;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	.contact {}
	.manual {}
}

.cookie-stuff {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 300px;
	z-index: 1000;

	button {
		position: absolute;
		top: 0;
		right: 0;
		width: 30px;
		height: 30px;
		color: white;
		background-color: black;
	}

	p {
		margin-top: 42px;
	}
}



.flip-device {
	font-family: 'Roboto', sans-serif;
	width: 100vw;
	height: 100vh;
	background-color: white;
	position: absolute;
	display: none;
	flex-direction: column;
	justify-content: center;
	z-index: 1001;

	p {
		text-align: center;
		margin-bottom: 5px;
	}
	img {
		width: 140px;
		height: 140px;
		margin-left: auto;
		margin-right: auto;
	}
}
