/* Fonts */

@font-face {
  font-family: 'NB-International';
  src: url('../fonts/nb_international_pro_regular-webfont.eot');
  src: url('../fonts/nb_international_pro_regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nb_international_pro_regular-webfont.woff') format('woff'),
  url('../fonts/nb_international_pro_regular-webfont.ttf') format('truetype'),
  url('../fonts/nb_international_pro_regular-webfont.svg#nb_international_pro_regular-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NB-International';
  src: url('../fonts/nb_international_pro_italic-webfont.eot');
  src: url('../fonts/nb_international_pro_italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nb_international_pro_italic-webfont.woff') format('woff'),
  url('../fonts/nb_international_pro_italic-webfont.ttf') format('truetype'),
  url('../fonts/nb_international_pro_italic-webfont.svg#nb_international_pro_italic-webfont') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'NB-International';
  src: url('../fonts/nb_international_pro_bold-webfont.eot');
  src: url('../fonts/nb_international_pro_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nb_international_pro_bold-webfont.woff') format('woff'),
  url('../fonts/nb_international_pro_bold-webfont.ttf') format('truetype'),
  url('../fonts/nb_international_pro_bold-webfont.svg#mnb_international_pro_bold-webfont') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NB-International';
  src: url('../fonts/nb_international_pro_bold_italic-webfont.eot');
  src: url('../fonts/nb_international_pro_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nb_international_pro_bold_italic-webfont.woff') format('woff'),
  url('../fonts/nb_international_pro_bold_italic-webfont.ttf') format('truetype'),
  url('../fonts/nb_international_pro_bold_italic-webfont.svg#mnb_international_pro_bold_italic-webfont') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'NB-International';
  src: url('../fonts/nb_international_pro_light-webfont.eot');
  src: url('../fonts/nb_international_pro_light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nb_international_pro_light-webfont.woff') format('woff'),
  url('../fonts/nb_international_pro_light-webfont.ttf') format('truetype'),
  url('../fonts/nb_international_pro_light-webfont.svg#nb_international_pro_light-webfont') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NB-International';
  src: url('../fonts/nb_international_pro_light_italic-webfont.eot');
  src: url('../fonts/nb_international_pro_light_italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nb_international_pro_light_italic-webfont.woff') format('woff'),
  url('../fonts/nb_international_pro_light_italic-webfont.ttf') format('truetype'),
  url('../fonts/nb_international_pro_light_italic-webfont.svg#nb_international_pro_light_italic-webfont') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'NB-International-Mono';
  src: url('../fonts/nb_international_pro_mono-webfont.eot');
  src: url('../fonts/nb_international_pro_mono-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nb_international_pro_mono-webfont.woff') format('woff'),
  url('../fonts/nb_international_pro_mono-webfont.ttf') format('truetype'),
  url('../fonts/nb_international_pro_mono-webfont.svg#nb_international_pro_mono-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Social';
  src: url('../fonts/social.eot');
  src: url('../fonts/social.eot?#iefix') format('embedded-opentype'),
  url('../fonts/social.woff') format('woff'),
  url('../fonts/social.ttf') format('truetype'),
  url('../fonts/social.svg#social') format('svg');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
