/*** MEDIA QUERIES ***/

@media all and (max-width: 1023px) and (min-width: 768px) {}

@media all and (max-width: 767px) {}

@media all and (max-width: 967px) and (min-width: 481px) {
	.row {
		width: grid-columns(6);
	}
	.app {
		.counter {
			.backward-counter {
				display: none;
			}
		}
		.gallery {
			.swiper-container {
				.button {
					display: none;
				}
			}
			.swiper-container.backward {
				display: none;
			}
		}
		nav {
		.backward-button {
				display: none;
			}
		}
	}
	section.info {
		.layout {
			padding-bottom: 150px;

			> * {
				margin-left: grid-columns(1);
			}
			nav.sidenav {
				display: none;
			}
		}
	}
}

@media all and (max-width: 480px) and (min-width: 361px) {
	.row {
		width: 380px;
	}
	.title {
		h1.prolog {
			width: 380px;
		}
	}
	.app {
		.counter {
			.forward-counter {
				width: 380px;
			}
			.backward-counter {
				display: none;
			}
		}
		.gallery {
			.swiper-container {
				width: 380px;
				height: 380px;
				&.backward {
					display: none;
				}

				.button {
					display: none;
				}

				.swiper-slide {
					width: 380px;
					height: 380px;
				}

				.text-column {
					font-size: 12px;
					margin-left: auto;
					margin-right: auto;

					.note {
						font-size: 10px;
					}
				}
			}
		}
		nav {
			.forward-button {
				width: 380px;
			}
			.backward-button {
					display: none;
				}
		}
	}
	section.info {
		font-size: 12px;

		.trigger {
			button.about, button.projects {
				width: 35%;
				transform: none;
				top: initial;
				bottom: 0;
			}
		}

		.layout {
			padding-bottom: 100px;

			> * {
				float: none;
				margin-left: auto;
				margin-right: auto !important;
			}

			nav.sidenav {
				display: none;
			}
		}
	}
}

@media all and (max-width: 360px) {
	body {
		justify-content: flex-start;
		padding-top: 0.5rem;
	}
	.row {
		width: 320px;
	}
	.title {
		h1.prolog {
			width: 320px;
		}
	}
	.app {
		.counter {
			.forward-counter {
				width: 320px;
			}
			.backward-counter {
				display: none;
			}
		}
		.gallery {
			.swiper-container {
				width: 320px;
				height: 320px;
				&.backward {
					display: none;
				}

				.button {
					display: none;
				}

				.swiper-slide {
					width: 320px;
					height: 320px;
				}

				.text-column {
					width: 310px;
					font-size: 12px;
					margin-left: auto;
					margin-right: auto;

					.note {
						font-size: 10px;
					}
				}
			}
		}
		nav {
			.forward-button {
				width: 320px;
			}
			.backward-button {
					display: none;
				}
		}
	}
	section.info {
		font-size: 12px;

		.trigger {
			button.about, button.projects {
				width: 35%;
				transform: none;
				top: initial;
				bottom: 0;
			}
		}

		.layout {
			> * {
				float: none;
				width: 310px;
				margin-left: auto;
				margin-right: auto !important;
			}
		}

		nav.sidenav {
			display: none;
		}
	}
}

@media all and (max-height: 460px) {
	body {
		justify-content: flex-start;
		padding-top: 0.5rem;
	}
	section.info {
		overflow: scroll;
	}
	/*
	.flip-device {
		display: flex;
	}
	*/
}
