$font-stack: 'Arimo', sans-serif;
$global-font-size: 14px;
$global-line-height: 1.5;

$gutter: 10px;
$viewport-width: 964px;
$column-width: ($viewport-width - (11 * $gutter))/12;

$global-margin-bottom: $global-font-size * $global-line-height;
$gmb: 21px;

$css-images-path: '../images/';

//COLORS
$malina: #ff586c;
